.form {
    position: relative;
    width: 100%;
    height: 60%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 50%;
    overflow: scroll;
}

.profile-link {
    position: absolute;
    top: 90%;
    bottom: 10%;
    left: 25%;
}