.card {
    background-color: white;
    width: 86%;
    height: 50vh;
    border-radius: 5px;
    margin-left: 7%;
    display: grid;
    row-gap: 0%;
    grid-template-areas: 
    'image . .'
    'name . .'
}

.image-profile {
    width: auto;
    height: 25vh;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 5%;
    grid-area: image;

}

.profile-name {
    color: black;
    text-align: center;
    margin-bottom: 15%;
    margin-right: 0%;
    grid-area: name;
    font-size: 2rem;
    display: inline;

}