
.profile-pic-div {
    width: auto;
    height: 15vh;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 5%;
    grid-area: image;

}

.image-profile {
    width: 45%;
    height: 20vh;
    border-radius: 25%;
    margin-left: 10%;
    margin-top: 5%;

}

.file {
    display: none;
}

.upload-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25%;
    color: white;
    height: auto;
    width: 20%;
    font-size: 1rem;
    position: absolute;
    margin-top: 20vh;
    text-align: center;
    left: 6.5%;
    overflow: hidden;
    z-index: auto;
}

.profile-name {
    color: black;
    position: absolute;
    text-align: center;
    width: 35%;
    bottom: 30vh;
    margin-left: 16%;
    margin-right: 55%;
    grid-area: name;
    font-size: 150%;
    display: inline;

}

.job-title {
    grid-area: title;
    color: black !important;
    position: absolute;
    text-align: center;
    width: 25%;
    bottom: 27vh;
    margin-left: 20%;
    margin-right: 55%;
    grid-area: name;
    font-size: 100%;
    display: inline;
}

.values-container {
    position: absolute;
    width: 50%;
    height: 30vh;
    left: 25%;
    top: 10%;
    right: 25%; 
    text-align: center;
    grid-area: values;

}

.experience {
    border: black 2px solid;
    box-shadow: 1px 1px 3px rgba(31, 29, 29, 0.7);
    grid-area: experience;
    position: absolute;
    width: 90%;
    height: 25vh;
    top: 50%;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

.update-profile-submit {
    position: absolute;
    width: 30%;
    right: 35%;
    left: 35%;
    top: 85%;
}

@media all and (max-width: 1000p) {
    
}