body {
    background-color: lightgray;
}

@font-face {
    font-family: 'Arvo', serif;
    src: url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
}

.card {
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 8px rgb(97, 90, 90);
    align-items: center;
    border-radius: 8px;
    height: 33rem;
    width: 60%;
    height: 75vh;
    margin-left: 20%;
    margin-right: 20%;
    align-content: center;
    overflow: hidden;
}

.form {
    display: grid;
    justify-items: center;
    /* grid-template-columns: repeat(2, 2fr); */
    row-gap: 3rem;
    column-gap: 3rem;
    grid-auto-rows: minmax(5%, 10%);
    grid-template-areas: 'first last'
                        'email email' 
                        'pass pass' 
                        'passconf passconf' ;
}

.form > div {
    background-color: lightgray;
    border: teal 2px solid;
}


.firstname {
    max-width: 100%;
    grid-column: 1/2;
    grid-area: first;
}

.lastname {
    max-width: 100%;
    grid-column: 1/2;
    grid-area: last;
}

.emailaddress {
    align-content: center;
    width: 75% ; 
    grid-column: 1/3;
    grid-area: email;
}

.password {
    align-content: center;
    width: 75% ;  
    grid-area: pass;

}

.confirm-password {
    align-content: center;
    width: 75% ;
    grid-area: passconf;
}


.button-submit {
    position: absolute;
    display: block;
    background-color: #fd9b3f !important;
    border: none;
    align-content: center;
    margin-left: 5% !important;
    margin-top: 55% !important;
    margin-bottom: 45%;
    width: 50% !important; 
}

.button-submit:hover {
    transition: all 200ms ease-in-out;
    cursor: pointer;
    background-color: #f58800 !important;
}


div h2 {
    color: #f59928;
    font-size: 35px;
    font-family: 'Arvo';
    font-weight: bold;
    margin-top: 3%;
    margin-right: 50%;
}

.login-link {
    margin-top: 40vh;
    display: inline-block;
    
}

@media all and (max-width: 758px) {
    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        box-shadow: 1px 1px 8px rgb(97, 90, 90);
        margin-top: 3%;
        margin-bottom: 40%;
        margin-left: 20%;
        margin-right: 25%;
        border-radius: 8px;
        height: 33rem;
        width: 60%;
        align-content: center;
        position: relative;
        overflow: hidden;
        
    }

    .form {
        
    }

    .login-link {
        position: absolute;
        margin-top: 30%;
        margin-left: 15%;
    }
    
    
    .firstname {
        display: inline-block;
        width: 25%;
        margin-left: 17%;
        margin-top: 2%;
    }
    
    .lastname {
        display: inline-block;
        width: 25%;
        margin-left: 15%;
    }
    
    .emailaddress {
        /* margin-top: 5%;
        margin-left: 25%;
        width: 300%; */
        position: absolute;
        display: block;
        align-content: center;
        margin-left: 10%;
        margin-top: 0% ;
        width: 39% ; 
    }
    
    .password {
        /* width: 300%;
        margin-top: 75%;
        margin-left: -87%; */
        position: absolute;
        margin-left: 10% ;
        margin-top: 20% ;
        width: 39% ;  
    }

    .confirm-password {

    }
    
    
    .password-input {
        position: absolute;
        align-content: center;
        min-width: 40%;
        margin-left: 4%;
        margin-bottom: 25%;
    }
    
    
    .button-submit {
        position: absolute;
        background-color: #fd9b3f !important;
        border: none;
        align-content: center;
        margin-left: 17% !important;
        margin-bottom: 25% !important;
        width: 25% !important; 
    }
    
    .button-submit:hover {
        transition: all 200ms ease-in-out;
        cursor: pointer;
        background-color: #f58800 !important;
    }
    
    div h2 {
        color: #f59928;
        font-size: 35px;
        font-family: 'Arvo';
        font-weight: bold;
        margin-top: 3%;
        margin-right: 75%;
    }
    
    .firstname {
        display: inline-block;
        width: 25%;
        margin-left: 17%;
        margin-top: 2%;
    }
    
    .lastname {
        display: inline-block;
        width: 25%;
        margin-left: 15%;
    }
    
    .emailaddress {
        /* margin-top: 5%;
        margin-left: 25%;
        width: 300%; */
        position: absolute;
        align-content: center;
        margin-left: 10%;
        margin-top: 0% ;
        width: 39% ; 
    }
    
    .password {
        /* width: 300%;
        margin-top: 75%;
        margin-left: -87%; */
        position: absolute;
        align-content: center;
        margin-left: 10% ;
        margin-top: 15% ;
        width: 39% ;  
    }
    
    
    .password-input {
        position: absolute;
        align-content: center;
        min-width: 40%;
        margin-left: 4%;
        margin-bottom: 25%;
    }
    
    
    .button-submit {
        position: absolute;
        background-color: #fd9b3f !important;
        border: none;
        align-content: center;
        margin-left: 17% !important;
        margin-top: 15% !important;
        width: 25% !important; 
    }
    
    .button-submit:hover {
        transition: all 200ms ease-in-out;
        cursor: pointer;
        background-color: #f58800 !important;
    }
    
    div h2 {
        color: #f59928;
        font-size: 35px;
        font-family: 'Arvo';
        font-weight: bold;
        margin-top: 3%;
        margin-right: 75%;
    }
}
