body {
    background-color: lightgray;
}

@font-face {
    font-family: 'Arvo', serif;
    src: url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
}

.card {
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 8px rgb(97, 90, 90);
    align-items: center;
    border-radius: 8px;
    height: 33rem;
    width: 60%;
    height: 75vh;
    margin-left: 20%;
    margin-right: 20%;
    align-content: center;
    overflow: hidden;
}

.form {
    display: grid;
    justify-items: center;
    align-items: start;
    /* grid-template-columns: repeat(2, 2fr); */
    row-gap: 22%;
    column-gap: auto;
    grid-auto-rows: minmax(5%, 10%);
    margin-top: 5%;
    grid-template-areas: 'first last'
                        'email email' 
                        'pass pass' 
                        'passconf passconf'
                        'link link'
                        '. .'
                        'btn btn' ;
}


.firstname {
    max-width: 100%;
    grid-column: 1/2;
    grid-area: first;
    margin-left: 20%;
}

.lastname {
    max-width: 100%;
    grid-column: 1/2;
    grid-area: last;
    margin-right: 25%;
}

.emailaddress {
    align-content: center;
    width: 75% ; 
    grid-column: 1/3;
    grid-area: email;
}

.password {
    align-content: center;
    width: 75% ;  
    margin-top: 0%;
    grid-area: pass;

}

.confirm-password {
    align-content: center;
    width: 75% ;
    grid-area: passconf;
}


/* .button-submit {
    align-content: center;
    grid-area: btn;
    background-color: #fd9b3f !important;
    border: none;
    margin-top: -20%;
    width: 50% !important; 
} */

.actual-button {
    align-content: center;
    position: absolute;
    grid-area: btn;
    background-color: #fd9b3f !important;
    border: none;
    width: 50% !important; 
    bottom: 5%;
}


.button-submit:hover {
    transition: all 200ms ease-in-out;
    cursor: pointer;
    background-color: #f58800 !important;
}


div h2 {
    color: #f59928;
    text-align: right;
    position: relative;
    font-size: 35px;
    font-family: 'Arvo';
    font-weight: bold;
    margin-top: 3%;
    margin-right: 43%;
}

.login-link {
    grid-area: link;
    display: inline-block;
    position: absolute;
    bottom:15%; 
}

@media all and (max-width: 900px) {
    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        box-shadow: 1px 1px 8px rgb(97, 90, 90);
        margin-top: 3%;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 8px;
        height: 75vh;
        width: 60%;
        align-content: center;
        position: relative;
        overflow: hidden;
        
    }

    .form {
        display: grid;
        overflow: scroll;
        justify-items: center;
        align-items: start;
        /* grid-template-columns: repeat(2, 2fr); */
        row-gap: 25%;
        column-gap: auto;
        grid-auto-rows: minmax(5%, 10%);
        margin-top: 10%;
        grid-template-areas: 'first last'
                            'email email' 
                            'pass pass' 
                            'passconf passconf'
                            'link link'
                            '. . '
                            'btn btn' ;
    }
    
    
    .firstname {
        max-width: 65%;
        grid-column: 1/2;
        grid-area: first;
        margin-left: 15%;
    }
    
    .lastname {
        max-width: 65%;
        grid-column: 1/2;
        grid-area: last;
        margin-right: 20%;
    }
    
    .emailaddress {
        align-content: center;
        width: 75% ; 
        grid-column: 1/3;
        grid-area: email;
    }
    
    .password {
        align-content: center;
        width: 75% ;  
        margin-top: 3%;
        grid-area: pass;
    
    }
    
    .confirm-password {
        align-content: center;
        width: 75% ;
        grid-area: passconf;
    }
    
    
    /* .button-submit {
        grid-area: btn;
        background-color: #fd9b3f !important;
        border: none;
        align-content: center;
        width: 50% !important; 
        margin-top: -40%;
    } */

    .actual-button {
        align-content: center;
        position: absolute;
        grid-area: btn;
        background-color: #fd9b3f !important;
        border: none;
        width: 50% !important; 
        bottom: 5%;
    }


    
    .button-submit:hover {
        transition: all 200ms ease-in-out;
        cursor: pointer;
        background-color: #f58800 !important;
    }
    
    
    div h2 {
        color: #f59928;
        text-align: right;
        position: relative;
        font-size: 35px;
        font-family: 'Arvo';
        font-weight: bold;
        margin-top: 3%;
        margin-right: 43%;
    }
    
    .login-link {
        grid-area: link;
        display: inline-block;
        position: absolute;
        bottom:15%; 
    }
    
}
