body {
    background-color: lightgray;
}

@font-face {
    font-family: 'Arvo', serif;
    src: url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
}

.card {
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 8px rgb(97, 90, 90);
    align-items: center;
    border-radius: 8px;
    height: 33rem;
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    align-content: center;
    overflow: hidden;
}

.form {
    display: grid;
    justify-items: center;
    align-items: start;
    /* grid-template-columns: repeat(2, 2fr); */
    row-gap: 15%;
    column-gap: auto;
    grid-auto-rows: minmax(5%, 10%);
    margin-top: 5%;
    overflow: scroll;
    grid-template-areas: 'first last'
                        'email email' 
                        'pass pass' 
                        'passconf passconf'
                        'img values'
                        'descript descript'
                        'title title'
                        'link link'
                        '. .'
                        'btn btn' ;
}


.firstname {
    max-width: 100%;
    grid-column: 1/2;
    grid-area: first;
}

.lastname {
    max-width: 100%;
    grid-column: 1/2;
    grid-area: last;
    margin-right: 45%;
}

.emailaddress {
    align-content: center;
    width: 75% ; 
    grid-column: 1/3;
    grid-area: email;
}

.image {
    grid-area: img;
    width: 35%;
    margin-right: 10%;
}

.values {
    grid-area: values;
    margin-right: 30%;
}

.description {
    grid-area: descript;
    width: 70%;
    height: 10%;
}

.title {
    grid-area: title;
    width: 70%;
    height: 10%;
}

.password {
    align-content: center;
    width: 75% ;  
    margin-top: 0%;
    grid-area: pass;

}

.confirm-password {
    align-content: center;
    width: 75% ;
    grid-area: passconf;
}

.actual-button {
    align-content: center;
    position: relative;
    grid-area: btn;
    background-color: #fd9b3f !important;
    border: none;
    width: 30vw; 
    bottom: 5%;
    margin-left: 53%;
}


.button-submit:hover {
    transition: all 200ms ease-in-out;
    cursor: pointer;
    background-color: #f58800 !important;
}


div h2 {
    color: #f59928;
    text-align: right;
    position: static;
    font-size: 3rem;
    font-family: 'Arvo';
    font-weight: bold;
    margin-top: 2%;
    margin-right: 40%;
}

.login-link {
    grid-area: link;
    display: inline-block;
    position: relative;
    bottom:15%; 
}

@media all and (max-width: 950px) {
    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        box-shadow: 1px 1px 8px rgb(97, 90, 90);
        margin-top: 3%;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 8px;
        height: 75vh;
        width: 60%;
        align-content: center;
        position: relative;
        overflow: hidden;
        
    }

    .form {
        display: grid;
        position: absolute;
        justify-items: center;
        align-items: start;
        /* grid-template-columns: repeat(2, 2fr); */
        row-gap: 10%;
        column-gap: auto;
        grid-auto-rows: minmax(5%, 10%);
        margin-top: 5%;
        overflow: scroll;
        grid-template-areas: 'first first'
                            'last last' 
                            'email email'
                            'img img'
                            'pass pass' 
                            'passconf passconf'
                            'values values'
                            'descript descript'
                            'link link'
                            '. .'
                            'btn btn' ;
    }
    
    
    .firstname {
        width: 30vw;
        grid-column: 1/2;
        grid-area: first;
    }
    
    .lastname {
        width: 30vw;
        grid-column: 1/2;
        margin-left: 35vw;
        margin-right: 35vw;
        grid-area: last;
    }
    
    .emailaddress {
        align-content: center;
        width: 30vw;
        grid-column: 1/2;
        margin-left: 35vw;
        margin-right: 35vw;
        grid-area: email;
    }
    
    .image {
        grid-area: img;
        width: 35%;
        margin-left: 14%;
        margin-top: 3%;
    }
    .password {
        align-content: center;
        width: 35%;
        margin-left: 3%;  
        grid-area: pass;
    
    }

    .confirm-password {
        align-content: center;
        width: 35%;
        margin-left: 3%;
        grid-area: passconf;
    }
    
    .values {
        grid-area: values;
        align-content: center;
        width: 35%;
        margin-left: 35%;
        margin-right: 32.5%;
    }
    
    .description {
        grid-area: descript;
        width: 35%;
        margin-left: 2%;
    }
    
    .actual-button {
        align-content: center;
        grid-area: btn;
        background-color: #fd9b3f !important;
        border: none;
        width: 30vw; 
        bottom: 15%;
        margin-left: 67%;

    }
    
    
    .button-submit:hover {
        transition: all 200ms ease-in-out;
        cursor: pointer;
        background-color: #f58800 !important;
    }
    
    
    div h2 {
        color: #f59928;
        text-align: right;
        position: static;
        font-size: 3rem;
        font-family: 'Arvo';
        font-weight: bold;
        margin-top: 2%;
        margin-left: 30%;
        margin-right: 35%;
    }
    
    .login-link {
        grid-area: link;
        display: inline-block;
    }
    
}
