body {
  background-image: none !important;
}

.form-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-top: 5%;
    margin-right: 25%;
    margin: 5rem 21rem;
} 

.job-input {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  justify-content: center;
}

.values-input {
  width: 82%;
  margin-right: 15%;
  margin-left: 3%;
  margin-bottom: 3%;
  justify-content: center;
}

.input1 {
    width: 32vh;
    border: #2F9599 1px solid;
    box-shadow: 1px 1px 5px 1px grey;

}
    
.input2 {
    width: 15rem !important;
    margin-left: 15%;
    border: #2F9599 1px solid;
    box-shadow: 1px 1px 5px 1px grey ;
}

.button-submit {
  justify-content: center;
  align-content: center;
  min-width: 100%;
  background-color: #F8Bc24 !important;
  border: none;
  margin-bottom: 5%;
}

@media all and (max-width: 882px) {
  .form-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-top: 5%;
    margin-right: 25%;
    margin: 5rem 21rem;
} 

.job-input {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  justify-content: center;
}

.values-input {
  width: 82%;
  margin-right: 15%;
  margin-left: 3%;
  margin-bottom: 3%;
  justify-content: center;
}

.input1 {
    width: 32vh;
    border: #2F9599 1px solid;
    box-shadow: 1px 1px 5px 1px grey;

}
    
.input2 {
    width: 15rem !important;
    margin-left: 15%;
    border: #2F9599 1px solid;
    box-shadow: 1px 1px 5px 1px grey ;
}

.button-submit {
  justify-content: center;
  align-content: center;
  min-width: 100%;
  background-color: #F8Bc24 !important;
  border: none;
  margin-bottom: 5%;
}

.form-control {
    margin: 0.5rem 0;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-control input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
  }
  
  /* .form-control input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
  } */
  
  .form-control-invalid input {
    border-color: red;
    background: #ffd7d7;
  }
  
  .form-control-invalid label {
    border-color: red;
  
  }

  .error-text {
      color: red;
      background: #ffd7d7;
      margin-right: 45%;
      margin-left: 30%;
      text-align: center;
      border-radius: 10px;
  }
  
}